<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AmazonFinal">
  <test name="Search Item on Firefox driver ">
  <parameter name="url" value="https://www.amazon.com"></parameter>
    <parameter name="browser" value="firefox"></parameter>
  
  <classes>
      <class name="testCases.TestCase1"/>
            <class name="testCases.TestCase2"/>
            <class name="testCases.TestCase3"/>
      
    </classes>
  </test> <!-- Test -->
  <test name="Search Item on chrome driver ">
  <parameter name="url" value="https://www.amazon.com"></parameter>
    <parameter name="browser" value="chrome"></parameter>
  
  <classes>
      <class name="testCases.TestCase1"/>
            <class name="testCases.TestCase2"/>
            <class name="testCases.TestCase3"/>
      
    </classes>
  </test>  
</suite> <!-- AmazonFinal -->
